altair==5.2.0
atomicwrites==1.4.0
blinker==1.7.0
cachetools==5.3.2
contourpy==1.2.0
cycler==0.12.1
easyocr==1.6.2
entrypoints==0.4
Faker==23.2.0
favicon==0.7.0
filelock==3.13.1
fonttools==4.48.1
fsspec==2024.2.0
gitdb==4.0.11
GitPython==3.1.41
htbuilder==0.6.2
imageio==2.34.0
importlib-resources==6.1.1
imutils==0.5.4
inflection==0.5.1
kiwisolver==1.4.5
lazy_loader==0.3
lxml==5.1.0
Markdown==3.5.2
markdownlit==0.0.7
matplotlib==3.7.1
mpmath==1.3.0
networkx==3.2.1
ninja==1.11.1.1
numpy==1.24.2
opencv-python==4.5.4.60
opencv-python-headless==4.5.4.60
pandas==2.2.0
piexif==1.1.3
Pillow==9.5.0
ply==3.11
progress==1.6
prometheus_client==0.20.0
protobuf==4.25.2
pyarrow==15.0.0
pyclipper==1.3.0.post5
pydeck==0.8.1b0
pyls-spyder==0.4.0
pymdown-extensions==10.7
pyparsing==3.1.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-bidi==0.4.2
black_1661852041405/work
python-lsp-jsonrpc==1.0.0
pywin32==305.1
scikit-image==0.22.0
scipy==1.12.0
shapely==2.0.2
smmap==5.0.1
st-annotated-text==4.0.1
streamlit==1.31.1
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.3
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
sympy==1.12
tenacity==8.2.3
tifffile==2024.2.12
toolz==0.12.1
torch==2.2.0
torchaudio==2.2.0+cu118
torchvision==0.17.0
tzdata==2024.1
tzlocal==5.2
validators==0.22.0
webencodings==0.5.1
