easyocr==1.6.2
imageio==2.34.0
imutils==0.5.4
matplotlib==3.7.1
numpy==1.24.2
opencv-python==4.5.4.60
opencv-python-headless==4.5.4.60
pandas==2.2.0
Pillow==9.5.0
streamlit==1.31.1
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.3
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
sympy==1.12
torch==2.2.0+cu118
torchaudio==2.2.0+cu118
torchvision==0.17.0

